In [114]:
# Dependencies
import numpy as np
import pandas as pd
from sqlalchemy import table, column, select
import datetime as dt

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

In [115]:
engine = create_engine("sqlite:///hawaii.sqlite")

In [116]:
inspector = inspect(engine)
inspector.get_table_names()

['measurement', 'station']

In [117]:
# Get a list of column names and types
columns = inspector.get_columns('measurement')
for c in columns:
    print(c['name'], c["type"])
# columns

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

In [118]:
engine.execute('SELECT * FROM measurement LIMIT 5').fetchall()

[(1, 'USC00519397', '2010-01-01', 0.08, 65.0),
 (2, 'USC00519397', '2010-01-02', 0.0, 63.0),
 (3, 'USC00519397', '2010-01-03', 0.0, 74.0),
 (4, 'USC00519397', '2010-01-04', 0.0, 76.0),
 (5, 'USC00519397', '2010-01-06', None, 73.0)]

In [119]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [120]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [121]:
results = session.query(Measurement.tobs).all
print(results)

<bound method Query.all of <sqlalchemy.orm.query.Query object at 0x000001F025592A30>>

## D1: Determine the Summary Statistics for June

In [162]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
june_temps = session.query(Measurement.tobs).filter(extract('month', Measurement.date)==6)

In [163]:
#  3. Convert the June temperatures to a list.
june_temps = session.query(Measurement.tobs).filter(extract('month', Measurement.date)==6).all()

In [164]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
df = pd.DataFrame(june_temps, columns=['June tobs'])
df

      June tobs
0          78.0
1          76.0
2          78.0
3          76.0
4          77.0
...         ...
1695       79.0
1696       74.0
1697       74.0
1698       76.0
1699       75.0

[1700 rows x 1 columns]

In [165]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
df.describe()

         June tobs
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [166]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
december_temps = session.query(Measurement.tobs).filter(extract('month', Measurement.date)==12)

In [167]:
# 7. Convert the December temperatures to a list.
december_temps = session.query(Measurement.tobs).filter(extract('month', Measurement.date)==12).all()

In [168]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
df2 = pd.DataFrame(december_temps, columns=['December temps'])
df2

      December temps
0               76.0
1               74.0
2               74.0
3               64.0
4               64.0
...              ...
1512            71.0
1513            71.0
1514            69.0
1515            65.0
1516            65.0

[1517 rows x 1 columns]

In [169]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
df2.describe()

       December temps
count     1517.000000
mean        71.041529
std          3.745920
min         56.000000
25%         69.000000
50%         71.000000
75%         74.000000
max         83.000000